ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */
p {
  color: red;
}

/* Class selector*/
.note{
  font-size: 20px;
}

/*id selector.. you need to use #*/
#id-selector-demo{
  color:green;
}

/* Attribute selector*/
li[value="4"]{
  color: blue;
}

/*set all the element using*/
*{
  text-align: center;
}
